.header-colour {
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-image {
  height: 6em;
  padding-top: 1em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 74%;
  margin: auto;
  border-radius: 2em;
}

.banner-text h1 {
  font-size: 66px;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  
}

.social-links {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a {
  color: white;
  font-size: 4em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}